<div class="body">
    <br><br><br><br>
    <H1 align="center">VITO PIZZA | A BEST WAY TO ORDER YOUR PIZZA</H1>
    <br><br><br><br><br><br>
    <table align="center">
      <tr>
        <td><a routerLink="/menu-page"><button class="bigbutton"><span> Menu </span></button></a></td>
        <td><a routerLink="/login-page"><button class="bigbutton"><span> Login </span></button></a></td>
        <td><a routerLink="/sigup-page"><button class="bigbutton"><span> Register </span></button></a></td>
      </tr>
    </table>
    </div>